



body {
    background-color: #efe0c4; 
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 20px;
    color: #5D4037; 
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #E0E0E0;
    text-align: center;
}

h1 {
    font-family: 'Rozha One', serif;
    color: #490101;
    text-align: center; 
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DAA520; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

p {
    font-style: normal;
    color: #5D4037;
    font-size: 1.1em;
}


a {
    color: #C5942E;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #8B0000; 
}
img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    align-items: center;
}